@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #f7f7f9;
  overflow-x: hidden;
}

.flex-container {
  display: flex;
}

.font-poppins {
  font-family: 'Poppins', Arial, Helvetica, sans-serif;
}

.font-style-normal {
  font-style: normal;
}

.intro-part {
  background-image: url(./figmaImages/images/header-shapes\ mobile.png);
  background-position: center;
  background-size: cover;
  padding: 114px 24px;
  flex-direction: column;
  align-items: flex-start;
  gap: 0.75rem;
}

.intro-part h1 {
  display: flex;
  width: 20.438rem;
  height: 9.375rem;
  flex-direction: column;
  justify-content: center;
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  font-size: 40px;
  font-weight: 700;
  line-height: 3.25rem;
  color: #172b4d;
  margin-bottom: 0.75rem;
}

.presentation-paragraph {
  display: flex;
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  flex-direction: column;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5rem;
  color: #344563;
  margin-bottom: 0.75rem;
}

.connect-link {
  margin-top: 0.75rem;
  color: #7f8cff;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5rem;
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  margin-bottom: 0.75rem;
}

.socialnetwork-part img {
  padding: 0.25rem 1.5rem 0.25rem 0.75rem;
}

@media screen  and (min-width: 375px) {
  header {
    margin: 1.5rem 1.5rem;
    display: flex;
    align-items: flex-start;
    padding: 0.25rem 1.5rem 0.25rem 0.75rem;
  }

  header h4.logo {
    font-size: 1.125rem;
    font-weight: 700;
    line-height: 1.25rem;
    color: #6070ff;
    flex-shrink: 0;
  }

  .logo-menubar {
    display: flex;
    justify-content: space-evenly;
    gap: 12.438rem;
    padding: 0.5rem;
  }

  .intro-part h1 {
    display: flex;
    width: 20.438rem;
    height: 9.375rem;
    flex-direction: column;
    justify-content: center;
    padding: 0.25rem 1.5rem 0.25rem 0.75rem;
    font-family: Poppins-blacks, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 3.25rem;
    color: #172b4d;
    margin-bottom: 0.75rem;
  }

  .connect-link {
    margin-top: 0.75rem;
    color: #7f8cff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.25rem 1.5rem 0.25rem 0.75rem;
    margin-bottom: 0.75rem;
  }

  .social-media-links {
    display: flex;
    align-items: center;
    list-style-type: none;
  }

  .works {
    display: grid;
    grid-template-columns: repeat(1fr);
    width: hug (375px);
    height: hug (2, 788px);
    top: 718px;
    padding: 114px 24px 114px 24px;
    gap: 88px;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: solid #e5e5e5 1px;
    background-color: #fff;
    width: hug (327px);
    height: hug (596px);
    padding: 16px;
    border-radius: 16px;
    gap: 12px;
  }

  .cards-titles {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 44px;
    color: #172b4d;
  }

  .subheading-lists {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
    width: hug (236px);
    height: hug (32px);
  }

  .canopy {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #344563;
    padding: 8px, 0, 8px, 0;
  }

  .subheading-list-title {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 16px;
    color: #7a869a;
  }

  .card-content {
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    color: #344563;
  }

  .connect-link a {
    text-decoration: none;
    color: inherit;
  }

  .webdev-languages {
    display: flex;
    list-style-type: none;
    width: hug (214px);
    height: hug (24px);
    padding: 12px 0;
    gap: 8px;
  }

  .webdev-languages li a {
    text-decoration: none;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    background: #ebebff;
    font-size: 12px;
    line-height: 16px;
    color: #6070ff;
    padding: 4px 12px;
    border-radius: 8px;
    width: hug (214px);
    height: hug (24px);
    gap: 8px;
  }

  .see-project {
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #f7f7f9;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    padding: 12px;
    gap: 10px;
    width: hug (126px);
    height: hug (48px);
    top: 12px;
  }

  .my-resume {
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #f7f7f9;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    padding: 12px;
    gap: 10px;
    width: hug (126px);
    height: hug (48px);
    top: 12px;
  }

  .submitbutton:hover,
  .my-resume:hover,
  .see-project:hover {
    color: #fff;
    cursor: pointer;
    background-color: #6070ff;
  }

  .submitbutton:active,
  .my-resume:active,
  .see-project:active {
    box-shadow: 2px 2px 5px #2230d2;
    transform: translateY(1px);
  }

  .submitbutton:focus {
    outline: none;
    box-shadow: 0 0 5px rgba(213, 161, 236, 0.3);
  }

  .programming-lang {
    list-style: none;
    padding-left: 0;
  }

  .web-lang {
    padding-left: 0;
    padding-right: 0;
    margin: 0;
  }

  .programming-lang li {
    display: flex;
    align-items: center;
    border-radius: 8px;
    background: #f7f7f9;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 20px;
    color: #253858;
    margin: 5px;
    padding: 12px;
    gap: 10px;
  }

  .about-myself {
    background-color: #fff;
    border-radius: 0 100px 0 0 / 100px;
    margin-top: 16%;
    width: hug (375px);
    height: hug (1, 062.15px);
    padding: 114px 24px 114px 24px;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.75rem;
  }

  .list-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    color: #000;
    margin-top: 0;
    margin-bottom: 0;
    list-style-type: none;
    padding-left: 0;
  }

  .lists {
    display: flex;
    align-items: center;
    max-width: 300px;
    height: 66.72px;
    width: 90%;
    padding: 0;
    margin: 0;
    justify-content: space-around;
  }

  .lists li h4 {
    width: 270px;
    height: 24px;
    top: 24px;
    left: 80%;
    justify-content: space-around;
  }

  .locate {
    top: 16px;
    padding: 1px;
    border-radius: 8px;
  }

  ul {
    list-style-type: none;
  }

  .list-separator {
    width: 100%;
  }

  .about-myself h2 {
    font-family: Poppins, sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: 0;
    text-align: left;
    color: #172b4d;
  }

  .aboutme-list {
    width: hug (327px);
    height: hug (464.15px);
  }

  .paragraph {
    font-family: Poppins, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0;
    text-align: left;
    color: #344563;
  }

  footer {
    background-color: #6070ff;
    padding-top: 103px;
    border-radius: 100px 0 0 0;
    background-image: url(./figmaImages/images/contactformshapes-mobile.png);
    background-repeat: no-repeat;
    background-position: 100% 20px;
  }

  .form {
    width: 87%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .form h2 {
    color: #fff;
    font-weight: bold;
    font-size: 40px;
    line-height: 52px;
  }

  .form p {
    margin-top: 12px;
    color: #ebebff;
    font-weight: normal;
    font-size: 20px;
    line-height: 28px;
  }

  form {
    width: 87%;
    margin: auto;
    padding-bottom: 45px;
  }

  .contact-form {
    width: 100%;
    padding: 45px 0 0 0;
    display: flex;
    flex-direction: column;
  }

  .contact-form input {
    width: 100%;
    margin-bottom: 20px;
    padding: 15px 38px 15px 16px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    color: #172b4d;
    font-weight: normal;
    font-size: 17px;
    line-height: 20px;
  }

  .contact-form textarea {
    width: 100%;
    min-width: 100%;
    max-width: 100%;
    margin-bottom: 20px;
    padding: 15px 38px 15px 16px;
    border-radius: 8px;
    border: 1px solid #cfd8dc;
    color: #b3bac5;
    font-weight: normal;
    font-size: 15px;
    line-height: 24px;
    min-height: 170px;
  }

  .myForm button {
    border: 1px solid #6070ff;
    border-radius: 8px;
    background-color: #f7f7f9;
    font-family: 'Poppins', Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 24px;
    color: #396df2;
    padding: 12px;
    gap: 10px;
    width: hug (126px);
    height: hug (48px);
    top: 12px;
  }
}
